<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user.username}}--Movie List</title>
</head>
<body>
    {# Jinja2 模板语法}

    {# if语句}
    {% if 条件 %}
        dosomething
    {% else %}
        dosomething
    {% endif %} 

    {# for语句}
    {% for element in collection %}
            {{ element|e }}
    {% endfor %}
</body>
</html>